openapi: 3.2.0
info:
  title: Battle.net OAuth Authorization API
  description: OAuth 2.0 authorization server for the Battle.net developer platform. Supports the authorization code flow (with PKCE) for user-context access to Battle.net account and profile scopes, and the client credentials flow for accessing public Game Data APIs. Hosted at https://oauth.battle.net.
  version: '1.0'
  contact:
    name: Battle.net Developer Portal
    url: https://develop.battle.net/
servers:
- url: https://oauth.battle.net
  description: Battle.net OAuth host
tags:
- name: Authorization
  description: User-context authorization endpoints.
paths:
  /authorize:
    get:
      operationId: authorize
      summary: Start Authorization Code Flow
      description: Redirects the user to the Battle.net consent screen and returns an authorization code on success.
      tags:
      - Authorization
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - code
      - name: scope
        in: query
        required: false
        schema:
          type: string
      - name: redirect_uri
        in: query
        required: true
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      responses:
        '302':
          description: Redirect to the registered redirect_uri with code and state.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
