openapi: 3.2.0
info:
  title: Battle.net OAuth Token API
  description: OAuth 2.0 authorization server for the Battle.net developer platform. Supports the authorization code flow (with PKCE) for user-context access to Battle.net account and profile scopes, and the client credentials flow for accessing public Game Data APIs. Hosted at https://oauth.battle.net.
  version: '1.0'
  contact:
    name: Battle.net Developer Portal
    url: https://develop.battle.net/
servers:
- url: https://oauth.battle.net
  description: Battle.net OAuth host
tags:
- name: Token
  description: Token issuance and inspection endpoints.
paths:
  /token:
    post:
      operationId: createToken
      summary: Create Token
      description: Exchanges an authorization code or client credentials for an access token.
      tags:
      - Token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - client_credentials
                  - refresh_token
                code:
                  type: string
                redirect_uri:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token issued.
  /oauth/check_token:
    post:
      operationId: checkToken
      summary: Check Token
      description: Validates an access token and returns information about it.
      tags:
      - Token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Token info returned.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
