openapi: 3.2.0
info:
  title: World of Warcraft Game Data Guilds API
  description: Battle.net Game Data API for World of Warcraft providing read-only access to achievements, auctions, characters, guilds, items, mounts, pets, PvP seasons, realms, and regions. Requires an OAuth 2.0 client credentials access token from https://oauth.battle.net. Namespaces (static, dynamic, profile) are passed as the `namespace` query parameter to select the data set.
  version: '1.0'
  contact:
    name: Battle.net Developer Portal
    url: https://develop.battle.net/
servers:
- url: https://us.api.blizzard.com
  description: US regional host
- url: https://eu.api.blizzard.com
  description: EU regional host
- url: https://kr.api.blizzard.com
  description: Korea regional host
- url: https://tw.api.blizzard.com
  description: Taiwan regional host
security:
- bearerAuth: []
tags:
- name: Guilds
  description: Retrieve guild profile data.
paths:
  /data/wow/guild/{realmSlug}/{nameSlug}:
    get:
      operationId: getGuild
      summary: Get Guild
      description: Returns a guild profile.
      tags:
      - Guilds
      parameters:
      - name: realmSlug
        in: path
        required: true
        schema:
          type: string
      - name: nameSlug
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Guild profile returned.
components:
  parameters:
    Namespace:
      name: namespace
      in: query
      required: true
      description: Game Data namespace (e.g. static-us, dynamic-us, profile-us).
      schema:
        type: string
    Locale:
      name: locale
      in: query
      required: false
      description: Locale used for localized fields (e.g. en_US).
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
