openapi: 3.1.0
info:
  title: Diablo III Community Achievements Characters API
  description: Battle.net Community and Game Data API for Diablo III providing access to acts, artisans, recipes, followers, character classes, items, item types, and player profile data. Requires an OAuth 2.0 client credentials access token from https://oauth.battle.net.
  version: '1.0'
  contact:
    name: Battle.net Developer Portal
    url: https://develop.battle.net/
servers:
- url: https://us.api.blizzard.com
  description: US regional host
- url: https://eu.api.blizzard.com
  description: EU regional host
security:
- bearerAuth: []
tags:
- name: Characters
  description: Retrieve character class and skill reference data.
paths:
  /d3/data/hero/{classSlug}:
    get:
      operationId: getCharacterClass
      summary: Get Character Class
      description: Returns a Diablo III character class by slug.
      tags:
      - Characters
      parameters:
      - name: classSlug
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Class returned.
  /profile/wow/character/{realmSlug}/{characterName}:
    get:
      operationId: getCharacterProfileSummary
      summary: Get Character Profile Summary
      description: Returns a profile summary for a single WoW character.
      tags:
      - Characters
      parameters:
      - name: realmSlug
        in: path
        required: true
        schema:
          type: string
      - name: characterName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Character profile returned.
components:
  parameters:
    Namespace:
      name: namespace
      in: query
      required: true
      description: Game Data namespace (e.g. static-us, dynamic-us, profile-us).
      schema:
        type: string
    Locale:
      name: locale
      in: query
      required: false
      description: Locale used for localized fields (e.g. en_US).
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
