openapi: 3.2.0
info:
  title: World of Warcraft Game Data Auctions API
  description: Battle.net Game Data API for World of Warcraft providing read-only access to achievements, auctions, characters, guilds, items, mounts, pets, PvP seasons, realms, and regions. Requires an OAuth 2.0 client credentials access token from https://oauth.battle.net. Namespaces (static, dynamic, profile) are passed as the `namespace` query parameter to select the data set.
  version: '1.0'
  contact:
    name: Battle.net Developer Portal
    url: https://develop.battle.net/
servers:
- url: https://us.api.blizzard.com
  description: US regional host
- url: https://eu.api.blizzard.com
  description: EU regional host
- url: https://kr.api.blizzard.com
  description: Korea regional host
- url: https://tw.api.blizzard.com
  description: Taiwan regional host
security:
- bearerAuth: []
tags:
- name: Auctions
  description: Retrieve live auction-house listings per connected realm.
paths:
  /data/wow/connected-realm/{connectedRealmId}/auctions:
    get:
      operationId: getAuctions
      summary: Get Auctions
      description: Returns all active auctions for a connected realm.
      tags:
      - Auctions
      parameters:
      - name: connectedRealmId
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Auction listings returned.
components:
  parameters:
    Locale:
      name: locale
      in: query
      required: false
      description: Locale used for localized fields (e.g. en_US).
      schema:
        type: string
    Namespace:
      name: namespace
      in: query
      required: true
      description: Game Data namespace (e.g. static-us, dynamic-us, profile-us).
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
