openapi: 3.1.0
info:
  title: Diablo III Community Achievements Authorization API
  description: Battle.net Community and Game Data API for Diablo III providing access to acts, artisans, recipes, followers, character classes, items, item types, and player profile data. Requires an OAuth 2.0 client credentials access token from https://oauth.battle.net.
  version: '1.0'
  contact:
    name: Battle.net Developer Portal
    url: https://develop.battle.net/
servers:
- url: https://us.api.blizzard.com
  description: US regional host
- url: https://eu.api.blizzard.com
  description: EU regional host
security:
- bearerAuth: []
tags:
- name: Authorization
  description: User-context authorization endpoints.
paths:
  /authorize:
    get:
      operationId: authorize
      summary: Start Authorization Code Flow
      description: Redirects the user to the Battle.net consent screen and returns an authorization code on success.
      tags:
      - Authorization
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - code
      - name: scope
        in: query
        required: false
        schema:
          type: string
      - name: redirect_uri
        in: query
        required: true
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      responses:
        '302':
          description: Redirect to the registered redirect_uri with code and state.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
