openapi: 3.2.0
info:
  title: Blizzard Entertainment Characters API
  version: '1.0'
  contact:
    name: Battle.net Developer Portal
    url: https://develop.battle.net/
  description: 'Operations tagged Characters across 2 of this provider''s published API definitions: blizzard-diablo-iii-openapi.yml, blizzard-world-of-warcraft-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://us.api.blizzard.com
  description: US regional host
- url: https://eu.api.blizzard.com
  description: EU regional host
- url: https://kr.api.blizzard.com
  description: Korea regional host
- url: https://tw.api.blizzard.com
  description: Taiwan regional host
security:
- bearerAuth: []
tags:
- name: Characters
  description: Retrieve character class and skill reference data.
paths:
  /d3/data/hero/{classSlug}:
    get:
      operationId: getCharacterClass
      summary: Get Character Class
      description: Returns a Diablo III character class by slug.
      tags:
      - Characters
      parameters:
      - name: classSlug
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Class returned.
    servers:
    - url: https://us.api.blizzard.com
      description: US regional host
    - url: https://eu.api.blizzard.com
      description: EU regional host
  /profile/wow/character/{realmSlug}/{characterName}:
    get:
      operationId: getCharacterProfileSummary
      summary: Get Character Profile Summary
      description: Returns a profile summary for a single WoW character.
      tags:
      - Characters
      parameters:
      - name: realmSlug
        in: path
        required: true
        schema:
          type: string
      - name: characterName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Character profile returned.
    servers:
    - url: https://us.api.blizzard.com
      description: US regional host
    - url: https://eu.api.blizzard.com
      description: EU regional host
    - url: https://kr.api.blizzard.com
      description: Korea regional host
    - url: https://tw.api.blizzard.com
      description: Taiwan regional host
components:
  parameters:
    Locale:
      name: locale
      in: query
      required: false
      description: Locale used for localized fields (e.g. en_US).
      schema:
        type: string
    Namespace:
      name: namespace
      in: query
      required: true
      description: Game Data namespace (e.g. static-us, dynamic-us, profile-us).
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- blizzard-diablo-iii-openapi.yml
- blizzard-world-of-warcraft-openapi.yml
